#page-content-wrapper {
margin-left:5px;
padding-left:0;
padding-top:2%;
width:98%;
}

#sidebar-wrapper {
background:#2C3E50;
height:100%;
overflow-y:hidden;
padding-top:5px;
position:fixed;
width:0;
z-index:1;
}

#wrapper {
padding-top:50px;
}

#wrapper.menuDisplayed #page-content-wrapper {
padding-left:250px;
}

#wrapper.menuDisplayed #sidebar-wrapper {
width:250px;
}

.content-info {
padding:2%;
}

.education,.skills,.hobbies,.Projects {
background:#f9f5ff;
}

.endorse {
font-family:sans-serif;
font-size:20px;
font-weight:bolder;
line-height:40px;
margin-top:12px;
width:100%;
}

.endorse span:hover,.sidebar-nav li a:hover .glyphicon {
color:blue;
}

.hobbies {
padding-top:5px;
}

.myname {
color:#FFF;
font-size:15px;
font-weight:700;
text-indent:10px;
}

.navigation {
height:auto;
width:auto;
}

.row {
margin:0;
}

.shortcut li {
display:inline;
}

.shortcut li a:hover .glyphicon {
color:#FFF;
}

.shortcut li:after {
content:' | ';
}

.shortcut li:last-child:after {
content:'';
}

.sidebar-nav {
list-style:none;
padding:0;
}

.sidebar-nav li {
border-bottom:1px solid #16A085;
border-width:80%;
line-height:50px;
text-indent:20px;
}

.sidebar-nav li a {
color:#ddd;
display:block;
text-decoration:none;
}

.sidebar-nav li a:hover {
background:#16A085;
}

.sidebar-nav-style {
margin-top:15px;
}

.sidebar-nav-style li a:active {
color:#000;
}

.sidelogo {
float:left;
height:70px;
margin-left:20px;
width:70px;
}

.skills {
background:#f9f5ff;
padding-bottom:1%;
}

.titleimg {
border:1px solid blue;
border-radius:5px;
width:70%;
}

.underline-link {
text-align:center;
}

a {
color:#000;
text-decoration:none;
}

footer {
background-color:#D3D3D3;
width:100%;
}

ul {
list-style:none;
}

@media only screen and min-width 768px{
.designation {
margin-top:15px;
}
}

@media only screen and max-width 767px and min-width 340px{
.page-title {
padding-left:40%;
padding-right:auto;
}
}